.sectionTitle {
  margin: 1.5rem 0 1rem 0;
  padding: 0.2em 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
main > div > section:first-child .sectionTitle {
  margin: 0 0 1rem 0;
}
.sectionTitle h2 {
  font-weight: 350;
}
.sectionBody p,
.sectionBody ol {
  font-weight: 350;
  line-height: 1.7rem;
}
